
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size:  50px;
    line-height: 50px;
    font-weight: 700;
    color: rgb(14, 14, 15);
}
.img-thumbnail {border-style: none;}

.img-thumbnail{
  float: left;
  padding: 20px 20px 20px 20px;
}
.portfoilo-img-thumbnail {border-style: none;}

.portfoilo-img-thumbnail{
  float: left;
  padding: 20px 20px 20px 20px;
}

.p1{
  color: rgb(0, 0, 255);
  float: left;
  padding: 50px 50px 20px 20px;
}

  #li{
    /* font-family: 'Montserrat', sans-serif; */
    font-size:  25px;
    line-height: 50px;
    font-weight: 700;
    color: rgb(33, 89, 141);
} 

a{
    /* font-family: 'Montserrat', sans-serif; */
    font-size:  25px;
    line-height: 50px;
    font-weight: 700;
    color: rgb(33, 89, 141);
} 
i {
    color: rgb(33, 89, 141);  
}

a:link {
    color: #0370b9;
  }

  /* a:visited {
    color: #616161;
  } */
  a:focus {
    color: #1d367a;
  }

  a:hover {
    color: #ff9900;
  }
  
  a:active {
    color: #00f7ff;
  }